# Autoconverted from visual studio code

snippet dbLoadRecords "dbLoadRecords"
dbLoadRecords(${1:file})${3}
endsnippet

snippet dbLoadTemplate "dbLoadTemplate"
dbLoadTemplate(${1:file})${3}
endsnippet

snippet epicsEnvSet "epicsEnvSet"
epicsEnvSet(${1:MACRO}, "${2:MACRO_VALUE}")${3}
endsnippet

snippet require "require"
require	${1:module}, ${2:version}${3}
endsnippet
