# Autoconverted from visual studio code

snippet epics.substitutions.file "include"
file db/myDBfile.template {
    pattern { PREFIX,     SCAN }
            { ${ PREFIX } "1 second"}
            { ${ PREFIX } "3 second"}
}
endsnippet
